body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}
h1{
    font-size: 50px;
    color: #ec4c7a;
    margin-top: 0;
}
p{
    font-size: 16px;
    color: dimgray;
    margin-bottom: 45px;
}
.link-button{
    text-decoration: none;
    background: #ec4c77;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
}
.header-area{
    
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
}
section{
    height: 500px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 70px;
    padding-left: 10px;
    
}
.half-width img{
    width: 100%;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    padding: 120px;
}
.latest-work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.latest-work-area h2{
    text-align: center;
    margin-bottom: 35px;
}
.latest-work{
    width: 30%;
    float: left;
    margin: 10px;
}
.latest-work img{
    width: 100%;
}
.client-review{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.client-review h2{
    text-align: center;
    font-weight: 600;
}
.client-review h3{
    text-align: center;
    
}
.client-review h4{
    text-align: center;
    font-weight: 500;
    margin: 0;
    
}
.client-review p{
    text-align: center;
    
}
.mail-button{
    text-align: center;
    background: #ec4c7a;
    padding: 50px;
}
.mail-button a{
    text-decoration: none;
    display: block;
}
footer p{
    text-align: center;
    color: dimgray;
    font-size: 12px;
}
